.stripes-bg {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
.stripes-bg__item {
  position: absolute;
  will-change: transform;
}
.stripes-1 {
  top: -4%;
  right: -20%;
  width: 50%;
}
.stripes-2 {
  bottom: -18%;
  right: -4%;
  /* top: 0;
    left: -40%; */
  width: 23%;
}
.stripes-3 {
  bottom: -10%;
  left: -3%;
  /* top: 0;
    left: -40%; */
  width: 33%;
}
.fill--orange {
  fill: #ffb354;
}
.fill--fucsia {
  fill: #fe518a;
}
.fill--green {
  fill: #4ba69d;
}
img {
  max-width: 100%;
}

.hero-span {
  background-image: url(../public/assets/gradiant.png);
  background-clip: text;
  background-size: 300% 300%;
  font-family: "Press Start 2P" !important;
  -webkit-text-fill-color: transparent;
  animation: 30s ease-in-out 0s infinite normal none running benDQH;
}

@keyframes benDQH {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
.hero-center-text {
  text-align: center;
  font-size: 2.87vw !important;
  line-height: 5vw !important;
  font-family: "Press Start 2P" !important;
  text-transform: capitalize;
}
.button-stroke {
  display: block;
  width: calc(100% - 40px);
  height: 20px;
  stroke: whitesmoke;
  position: absolute;
  left: 20px;
  bottom: -17px;
  stroke-width: 3;
}
.button-stroke:nth-child(2) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: #ffb354;
  stroke-width: 3;
  transition: stroke-dashoffset 800ms ease-out;
}
.hero-btn:hover .button-stroke:nth-child(2) {
  stroke-dashoffset: 0;
}
